.map_inside {
    padding: 0.5%;
    padding-bottom: 1%;
}

.map_bg {
    background: url('../images/left.jpeg');
    background-attachment: fixed;
    background-repeat: repeat-y;
}

.map_container {
    top: 10%;
    padding: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.map_content {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    padding: 7%;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.65);
}

.map_a {
    text-decoration: none;
}

.course_bg {
    padding: 4%;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.85);
}

.course_container {
    top: 15%;
    padding: 8%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    background: url('../images/bg.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#menu {
    opacity: 0%;
}

@media (max-width:600px) {
    .course_container {
        padding-top: 20%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .map_container {
        padding-top: 20%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .blank {
        display: none;
    }
}

@media(max-width:920px) {
    #menu {
        position: fixed;
        z-index: 3;
        top: 10%;
        right: 5%;
        opacity: 100%;
    }

    .menu_course {
        display: none;
    }

    .menu_taking {
        display: none;
    }

    .menu_job {
        display: none;
    }

    .menu_material {
        display: none;
    }
}

.menu_course {
    position: fixed;
    z-index: 3;
    width: 160px;
    top: 90px;
    left: 20px;
    border-radius: 30px;
    background-color: #45a0e0;
    padding: 10px;
}

.menu_taking {
    position: fixed;
    z-index: 3;
    width: 160px;
    top: 145px;
    left: 20px;
    border-radius: 30px;
    background-color: #45a0e0;
    padding: 10px;
}

.menu_job {
    position: fixed;
    z-index: 3;
    width: 160px;
    top: 200px;
    left: 20px;
    border-radius: 30px;
    background-color: #45a0e0;
    padding: 10px;
}

.menu_material {
    position: fixed;
    z-index: 3;
    width: 160px;
    top: 255px;
    left: 20px;
    border-radius: 30px;
    background-color: #45a0e0;
    padding: 10px;
}

.menu_course:hover {
    background-color: #e79b2b;
    transition-duration: .5s;
}

.menu_taking:hover {
    background-color: #e79b2b;
    transition-duration: .5s;
}

.menu_job:hover {
    background-color: #e79b2b;
    transition-duration: .5s;
}

.menu_material:hover {
    background-color: #e79b2b;
    transition-duration: .5s;
}

.no_decoration {
    text-decoration: none;
}

.no_decoration:hover {
    text-decoration: none;
    color: white;
}


.credit {
    border-radius: 1000px;
    padding: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 2px;
    color: white
}

.cognition {
    color: white;
    background-color: #77aa4a;
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
}

.knowledge {
    color: white;
    background-color: #51802e;
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
}

.technology {
    color: white;
    background-color: #006500;
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
}

.value {
    color: white;
    background-color: #003200;
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
}

.blank {
    color: white;
    padding: 10px;
    margin: 3px;
}

.horizontal {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    align-items: center;
}

.dot {
    text-align: center;
    word-break: keep-all;
}

.button_length {
    width: 100% !important;
}

.map_btn {
    padding: 4%;
    border: solid 1px;
    border-color: #45a0e0;
    color: #45a0e0;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.map_btn:hover {
    color: white;
    background-color: #45a0e0;
    transition-duration: .5s;
}