::selection {
    color: #45a0e0;
    background: #f1e534;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

p {
    text-align: justify;
    line-height: 2;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.facebook {
    color: white;
}

.facebook:hover {
    color: #45a0e0;
    transition-duration: .5s;
}

.nav_container {
    padding: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    background: linear-gradient(-70deg, #41bee1, #adc48d);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav_logo {
    height: 40px;
}

.footer_bg {
    padding: 15%;
    padding-top: 6%;
    padding-bottom: 6%;
    color: white;
    background: linear-gradient(-70deg, #41bee1, #adc48d);
    width: 100%;
}